.git
.gitignore
.gitattributes

.venv
venv
**/__pycache__
**/*.pyc
**/*.pyo
**/*.pyd
.pytest_cache
.mypy_cache
.ruff_cache

.run
.data

ingestion_app/credentials.json
.env
.env.compose

ml_pipeline/artifacts
ml_pipeline_2/artifacts

node_modules
